/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}

/* Estilos para el formulario */
form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input [type="password"],
input [type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 90%;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Estilos para los mensajes de error */
.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos para el menú de opciones */
.nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin: inline-block;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #ff9900; /* Cambia el color al pasar el mouse por encima */
}

/* Estilos para la lista de elementos */
.element-list {
  margin: 20px;
}

.element-list ul{
  list-style-type: disc;
  padding-left: 20px;
}

.element-list li{
  margin-bottom: 10px;
}

/* Estilos para el enlace que se ve como un botón */
a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

a:hover {
  color: #ff9900 /* Cambia el color de fondo al pasar el mouse por encima */
}